@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "NeueHaasDisplay-Black";
	src: url("/fonts/NeueHaasDisplayBlack.ttf");
}

@font-face {
	font-family: "NeueHaasDisplay-Bold";
	src: url("/fonts/NeueHaasDisplayBold.ttf");
}

@font-face {
	font-family: "NeueHaasDisplay-Medium";
	src: url("/fonts/NeueHaasDisplayMediu.ttf");
}

@font-face {
	font-family: "NeueHaasDisplay-Roman";
	src: url("/fonts/NeueHaasDisplayRoman.ttf");
}

@font-face {
	font-family: "NeueHaasDisplay-Light";
	src: url("/fonts/NeueHaasDisplayLight.ttf");
}

/* * {
	-webkit-font-smoothing: none;
} */
